*{
    box-sizing: border-box;
    border:none;
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans Thai', sans-serif;

}


/* BANNER */

body {
    background-color: #B78C56;
}
.banner {
    width:100% ;
    height: 100vh;
    /*background-color: aquamarine;*/
    
}

.banner ::after {
    content: "";
    width: 100%;
    height: 100vh;
    background-image: url('https://images.pexels.com/photos/697243/pexels-photo-697243.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    filter: brightness(40%);
    background-size: cover;
    z-index: -1;
    position: absolute;
    top: 0%;
}

.nav {
   position: relative;
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    /*background-color: red;*/
    align-items: center;
}

.logo {
    position: absolute;
    font-size: 1.6rem;
    color: white;
    left: 3%;
}

.nav ul {
    position: absolute;
    right: 3%;
    display: flex;
    list-style: none;
    gap: 1rem;
    color: aliceblue;
    font-size: 1.3rem;
}

.nav_phone {
    display: none;
}

.nav_tablets {
    display: none;
}

.nav li a{
    text-decoration: none;
}

.nav li a :hover {
    color: blueviolet;
}

.cover {
    position: relative;
    width: 100%;
    height: 95vh;
    /*background-color: skyblue;*/
    text-align: center;
   /* align-items: center;*/
}

.cover p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    font-size: 4rem;
}

/* CONTENT */

.person {
    width: 100%;
    height: 100vh;
    background-color: #B78C56;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
/* PERSON 1 */

.p1 {
    position: relative;
    margin: 3%;
    width: 400px;
    height: 560px;
    background-color: red;
    border-radius: 50px;
   

}


.person1_img {
    position: absolute;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    top: 0%;
    left: 0%;
    width: 400px;
    height: 35vh;
    background-color: plum;
}

.name1 {
    position: absolute;
    border-radius: 50px;
    top: -6%;
    left: 50%;
    transform: translate(-50%);
    width: 250px;
    height: 10vh;
    z-index: 1;
    background-color: palegoldenrod;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-family: 'IBM Plex Sans Thai', sans-serif;
}

.info1 {
    position: absolute;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
    top: 45.5%;
    width: 400px;
    height: 54.5%;
    background-color: lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    line-height: 25px;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;

}

.activity_img1 {
    position: absolute;
    top: 40%;
    left: 45%;
    width: 40%;
    height: 40vh;
    background-color: darkcyan;
}

/* PERSON 2 */

.p2 {
    position: relative;
    margin: 3%;
    width: 400px;
    height: 560px;
    background-color: red;
    border-radius: 50px;
}


.person2_img {
    position: absolute;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    top: 0%;
    left: 0%;
    width: 400px;
    height: 35vh;
    background-color: plum;
}

.name2 {
    position: absolute;
    border-radius: 50px;
    top: -6%;
    left: 50%;
    transform: translate(-50%);
    width: 250px;
    height: 10vh;
    z-index: 1;
    background-color: palegoldenrod;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-family: 'IBM Plex Sans Thai', sans-serif;

}

.info2 {
    position: absolute;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
    top: 45.5%;
    width: 400px;
    height: 54.5%;
    background-color: lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    line-height: 25px;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
}

.activity_img2 {
    position: absolute;
    top: 40%;
    left: 45%;
    width: 20%;
    height: 20vh;
    background-color: darkcyan;
}

/* FOOTER */

.footer {
    width: 100%;
    height: 25vh;
    background-color: salmon;
    display: flex;
    flex-direction: column;
    line-height: 15px;
}

.footer p {
    font-size: 1rem;
}

.contact {
    padding-left: 2% ;
    padding-top: 2%;
}
